.header {
    padding: 1em 0;
    background: #eee;
    ul {
        display: flex;
        justify-content: center;
        gap: 0 .5em;

        li {
            list-style: none;

            a {
                text-decoration: none;
                color: black;
                font-weight: bold;
                font-size: 1.3em;
                text-transform: uppercase;
            }
        }
    }
}